@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap");
body {
  background: rgb(96, 96, 96);
  width: 100%;
  margin: 0;
}

.back {
  position: absolute;
  top: 15px;
  left: 15px;
}

.name {
  position: absolute;
  top: 50%;
  font-family: "Sora";
  font-size: 72px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.15);
  width: 100%;
}
@media (min-width: 400px) {
  .name {
    font-size: 96px;
  }
}

.buy {
  position: absolute;
  left: calc(50% - 47.5vw);
  bottom: 15px;
  height: 45px;
  width: 95vw;
  border-radius: 20px;
  background: rgb(65, 65, 65);
  color: #fff;
  font-family: "Sora";
}

.item {
  margin: 70px 0 0 0;
}
.item__main {
  display: flex;
  justify-content: space-between;
}
.item__advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5px;
  height: 250px;
}
.item__image {
  border-radius: 40px 0px 0px 40px;
  min-width: 200px;
  width: 220px;
  height: 250px;
  background: rgb(54, 54, 54);
  box-shadow: -5px 6px 12px 0px rgba(0, 0, 0, 0.6);
}
.item__image img {
  width: 100%;
  height: 100%;
}
.item__characteristic {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #fff;
  margin: 30px 0 0 30px;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  max-width: 140px;
}
.advantage__image {
  width: 40px;
  height: 40px;
}
.advantage__image img {
  width: 100%;
  height: 100%;
}
.advantage__title {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}